{% extends "base.html" %}

{% block title %}Agregar Transacción{% endblock %}

{% block content %}
<div class="container">
    <h2>Agregar {{ tipo_transaccion }}</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.descripcion.label }}<br>
            {{ form.descripcion(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.importe.label }}<br>
            {{ form.importe(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.idcategoria.label }}<br>
            {{ form.idcategoria(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
