<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
        <a href="{{ url_for('transactions.add_income') }}">Agregar Ingreso</a>
        <a href="{{ url_for('transactions.add_expense') }}">Agregar Egreso</a>
        <a href="{{ url_for('history.show_history') }}">Historial</a>
        <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
